[submodule "python"]
	path = python
	url = git@github.com:sadelcarpio/introduction-to-algorithms-python.git
[submodule "cpp"]
	path = cpp
	url = git@github.com:sadelcarpio/introduction-to-algorithms-cpp.git
[submodule "rust"]
	path = rust
	url = git@github.com:sadelcarpio/introduction-to-algorithms-rust.git
[submodule "java"]
	path = java
	url = git@github.com:sadelcarpio/introduction-to-algorithms-java.git
